.mainImage {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

.overlay-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    /* Adjust as needed to vertically center the text */
    left: 70%;
    /* Center the text horizontally */
    transform: translate(-50%, -50%);
    /* Center the text both horizontally and vertically */
    position: fixed;
    color: white;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add a shadow for better visibility */
}

.scrollIndicator {
    position: fixed;
    top: 85vh;
    left: 40%;
    /* Center the text both horizontally and vertically */
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add a shadow for better visibility */
}


body {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    width: 85%;
    height: auto;
    margin: 0 auto;
    /* Center the content horizontally */
    box-sizing: border-box;
    /* This ensures that the info for the page start below the page until the user starts scrolling*/
    margin-top: 100vh;
    margin-bottom: 30px;
}

.contentText {
    padding: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4f7942;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20pt;
}

li a:hover {
    background-color: rgb(91, 90, 90);
}

.active {
    text-transform: uppercase;
    text-decoration-line: underline;
}


.footer {
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(91, 90, 90);
    color: white;
    text-align: center;
    font-size: 10pt;
    position: relative;
    z-index: 100;
}
